* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    list-style: none;
}

body {
    background-color: #012030;
    color: white;
}

header {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px;
    background: transparent;


}

.tab {
    font-size: 20px;
    font-weight: 900;
    font-family: Roboto, sans-serif;

}

.tab span {
    font-weight: 100;
}

.nav {
    display: flex;

}

.nav a {
    color: white;
    font-weight: 300;
    margin-left: 60px;
    font-size: 15px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.hero{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
    
}

.hero-image{
    height: 500px;
    width: 500px;
   /* border-radius: 50%; 
    border: 10px solid #333;
    box-sizing: content-box; */
}

.hero-text{
    display: flex;
    flex-direction: column;
    margin-left: 100px;

}

.hero-text h2{
    font-family: roboto;
    font-weight: 500;
    font-size: 32px;

}

.hero-text h1{
    font-family: roboto;
    font-weight: 800;
    font-size: 64px;
    margin-top: -10px;

}

.hero a{
    text-decoration: none;
    width: 105px;
    color: white;
    background: #13678A ;
    border: 1px solid transparent ;
    padding: 8px 15px;
    border-radius: 10px;
    margin-top: 20px;

}

.links {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.links ul {
    display: flex;
    gap: 15px; 
    list-style: none;
    padding-bottom: 20px;
}

.links i {
    font-size: 24px;
    color: white;
    padding-left: 10px;
}


footer {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer li {
    display: block;
}

.footer a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #ddd; /* Change color on hover */
}
