* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    list-style: none;
}

body {
    background-color: #012030 ;
    color: white;
}

header {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px;
    background: transparent;


}

.tab {
    font-size: 20px;
    font-weight: 900;
    font-family: Roboto, sans-serif;

}

.tab span {
    font-weight: 100;
}

.nav {
    display: flex;

}

.nav a {
    color: white;
    font-weight: 300;
    margin-left: 60px;
    font-size: 15px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    

}